@import "tailwindcss";

@theme {
    --color-archer-neon: #39ff14;
    --color-archer-turf: #166534;
    --color-archer-dark: #121212;
    --color-archer-charcoal: #1f2937;
    --color-archer-yellow: #fbbf24;
}
